* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.24px;
}
main {
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
a:hover {
  transition: all 0.5s ease-in-out;
}
a:focus-visible {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  color: #fff;
}
p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.24px;
  text-align: justify;
}
button {
  background-color: transparent;
  display: flex;
  padding: 18px 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #6d8434;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  opacity: 0.9;
  transition: all 0.5s ease;
}
button:hover {
  opacity: 1;
  background: #5C7227;
  transition: all 0.5s ease;
}
button:focus-visible {
  outline: none;
}
textarea {
  resize: none;
}
.element-decor, .element-decor-item {
  position: absolute;
  z-index: 2;
  width: auto;
}
@keyframes updown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-70px);
  }
}
@keyframes updown2 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-30px);
  }
}
@keyframes leafOne {
  0% {
    transform: translateX(-5px) rotate(-5deg);
}
16.67% {
    transform: translateX(0) translateY(2px) rotate(-1deg);
}
33.33% {
    transform: translateX(5px) translateY(4px) rotate(3deg);
}
50% {
    transform: translateX(2px) translateY(0px) rotate(5deg);
}
66.67% {
    transform: translateX(5px) translateY(4px) rotate(3deg);
}
83.33% {
    transform: translateX(0) translateY(2px) rotate(-1deg);
}
100% {
    transform: translateX(-5px) translateY(0) rotate(-5deg);
}
}
@keyframes fadeInDown {
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}
@keyframes shockwaveJump {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  10%,
  20% {
    -webkit-transform: scale(0.95) rotate(-5deg);
    -ms-transform: scale(0.9) rotate(-5deg);
    transform: scale(0.9) rotate(-5deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: scale(1.2) rotate(5deg);
    -ms-transform: scale(1.2) rotate(5deg);
    transform: scale(1.2) rotate(5deg);
  }
  40%,
  60% {
    -webkit-transform: scale(1.2) rotate(-5deg);
    -ms-transform: scale(1.2) rotate(-5deg);
    transform: scale(1.2) rotate(-5deg);
  }
  80% {
    -webkit-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    transform: scale(1) rotate(0);
  }
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: none;
}


main {
  background-image: url(../assets/images/Wallpaper.png);
  background-size: 100% auto;
  background-repeat: repeat-y;
  width: 100%;
  height: 100%;
}
.element-decor {
  position: absolute;
  z-index: 2;
  width: auto;
}
.box {
  margin-top: 100px;
}
.box .box-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
}
.box .marquee .box-title {
  color: #4dab2b;
}
.box h1.title {
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 20%,
    rgba(90, 90, 90, 1) 100%
  );
  background-clip: text;
  color: transparent;
}
.box .banner-action {
  background: linear-gradient(#4dab2b, #4de717);
  border-radius: 5px;
  padding: 5px 30px;
  width: fit-content;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
}
.box .banner-action:hover {
  background: linear-gradient(#4de717, #4dab2b);
  transition: all 0.5s ease-in-out;
}
.box .banner-action a {
  color: #000;
  font-weight: 600;
}
@media (max-width: 991.99px) {
  .box {
    margin-top: 70px;
  }
  .trading-banner.box {
    margin-top: 50px;
  }
  .box .box-title {
    font-size: 25px;
  }
  .box h1.title {
    font-size: 28px;
    line-height: 55px;
  }
  .box .banner-action {
    padding: 2px 20px;
  }
  .box .banner-action a {
    font-size: 14px;
  }
}

/* CONTAINER  */
.container {
  max-width: 1900px;
  padding: 0 5%;
}

/* HEADER  */
header {
  background: rgba(0, 0, 0, 0.4);
}
header h2.title {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 700;
}
header .header-container {
  padding: 15px 0;
}
header .header-container,
header .header-container .header-left {
  align-items: center;
}
header .header-container .header-right {
  display: flex;
  justify-content: end;
  gap: 10px;
}
header .header-container .header-right .user-svg svg {
  width: 25px;
  height: 25px;
}
header .header-container .header-right .svg-center svg {
  height: 20px;
}
header .header-container .header-right .user-name {
  font-size: 16px;
}
header .header-container .hearder-logo {
  width: 65px;
}
header .header-action {
  border: 1px solid #4de717;
  padding: 2px 20px;
  background: rgba(42, 248, 100, 0.47);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
header .header-action:hover {
  background: rgba(30, 206, 13, 0.36);
  transition: all 0.3s ease-in-out;
}
header .header-action a {
  font-weight: 600;
}
header .nav-container {
   display: flex;
   justify-content: space-between;
}
header .header-top {
    border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}
header .header-nav {
  padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.39);
}
header .header-nav .nav-list {
    gap: 20px;
}
header .header-nav .nav-list .nav-item {
    display: flex;
    gap: 7px;
    padding: 2px 10px;
}
header .header-nav .nav-list .nav-item:hover,
header .header-nav .nav-list .nav-item.active {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
header .header-nav .nav-list .nav-item .item-svg svg {
  width: 15px;
  height: 15px;
}
header .header-language {
  position: relative;
  gap: 10px;
}
header .header-language .custom-option img {
  width: 20px;
  height: 20px;
}
header .header-language .custom-option img {
  width: 20px;
  height: 20px;
}
header .form-select {
 background: none;
  border: none;
  width: 40px;
  color: #fff;  
}
header .form-select option {
 color: #fff;
 background: rgba(0, 0, 0, 0.4);;
 text-align: center;
}
.form-select:focus-visible,
.form-select:focus {
  outline: none;
  border-color: none;
  box-shadow: none;

}
@media (max-width: 991.99px) {
  header .header-container .hearder-logo {
    width: 60px;
  }
  header h2.title {
    font-size: 25px;
  }
  header .header-action {
    padding: 2px 10px;
  }
  header .header-action a {
    font-size: 14px;
  }
  header .header-container {
    padding: 10px 0;
  }
  header .header-nav .nav-list .nav-item {
    font-size: 12px;
    gap: 2px;
    padding: 2px 5px;
  }
  header .header-nav .nav-list {
    gap: 5px;
    flex-wrap: wrap;
}
  header .header-nav .nav-list .nav-item .item-svg svg {
    width: 12px;
    height: 12px;
  }
  header h2.title {
    margin-left: 10px;
  }
}
@media (max-width: 480px) {
    header .nav-container {
        flex-wrap: wrap;
    }
  header .header-container .hearder-logo {
    width: 60px;
  }
  header h2.title {
    font-size: 20px;
  }
  header .header-action {
    padding: 0px 5px;
  }
  header .header-action a {
    font-size: 12px;
  }
}
@media (max-width: 380px) {
  header .header-container .hearder-logo {
    width: 75px;
  }
  header h2.title {
    font-size: 18px;
  }
  header .header-action a {
    font-size: 10px;
  }
  header .header-nav .nav-list .nav-item {
    font-size: 10px;
  }
}